{% extends '../layout/default.njk' %}
{% set metaTitle = 'Belast Rijkdom' %}

{% block main %}
  <p
    style="
      margin-top: 10em;
      text-align: center;
      font-family: sans-serif;
      font-size: 1.4em;
    "
  >
    <strong>404 Pagina niet gevonden</strong><br />
    <a href="/">Ga naar de homepage</a>
  </p>
{% endblock %}
