{% extends '../layout/default.njk' %}
{% set metaTitle = 'Belast Rijkdom' %}
{% set metaDescription = 'De rijkdom groeit, maar wij worden armer. Belast extreme rijkdom in plaats van werk. Dit is geen links of rechts verhaal,  het is een kwestie van fatsoen.' %}
{% set bodyClass = 'index' %}

{% block main %}
  <p
    style="
      margin-top: 10em;
      text-align: center;
      font-family: sans-serif;
      font-size: 1.4em;
    "
  >
    <strong>Belast Rijkdom, niet werk.</strong>
  </p>
{% endblock %}
