---
layout: layouts/default.njk
metaTitle: Tax Wealth
metaDescription: Wealth grows, but we get poorer. Tax extreme wealth instead of labour.
bodyClass: index
---

<p style="margin-top: 10em; text-align: center; font-family: sans-serif; font-size: 1.4em;">
  <strong>Tax wealth, not labour.</strong>
</p>
