---
layout: layouts/default.njk
metaTitle: Tax Wealth
bodyClass: index
---

<h1 style="margin-top: 10em; text-align: center; font-family: sans-serif; font-size: 1.4em; font-weight: normal;">
  <strong>Tax wealth, not labour.</strong>
</h1>
